# Django Settings
SECRET_KEY=django-insecure-^)kx!3ar-mz5teg7qm6q2$n-ar)!7gikng@)ukf!^vdrby_*yq
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Options: SQLITE, POSTGRESQL, MYSQL
DB_TYPE=SQLITE
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=

# System Configuration
# Example: sistema1, sistema2
SISTEMA_PREFIX=sistema1
